@model BookViewModel

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/homeIndex.css">
</head>

<div class="row">
    <div class="column">
        <div class="card" >
            <img class="card-img" 
                 src="~/books2.png">
            <a  class="fs-6 btn btn-success mb-3 p-2" asp-area="" asp-controller="Books" asp-action="All">Go to Books!</a>
        </div>
    </div>

    <div class="column">
        <div class="card" >
            <img class="card-img" style="position: relative"
                 src="~/movies2.png">
            <a class="fs-6 btn btn-success mb-3 p-2" asp-area="" asp-controller="Movies" asp-action="All">Go to Movies!</a>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img class="card-img" 
                 src="~/games2.png">
            <a class="fs-6 btn btn-success mb-3 p-2" asp-area="" asp-controller="Games" asp-action="All">Go to Games!</a>
        </div>
    </div>
</div>